/* Make sure to add image url in the component */
.hero-bg {
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero-text {
  background: rgba(0, 0, 0, 0.6);
}

.character-box {
  transition: 0.2s;
}

.character-box:hover {
  cursor: pointer;
  filter: brightness(0.935);
}

.nav-button {
  border: none;
  padding: 0;
  outline: none;
  position: absolute;
  z-index: 99999;
  top: 50%;
  background: none
}

.nav-button:hover {
  cursor: pointer;
}

.nav-button img {
  height: 32px;
  width: 32px;
}

.resource-box {
  transition: 0.2s;
}

.resource-box:hover, .resource-box:focus {
  background: #ededed;
  cursor: pointer;
}

.resource-tag {
  background: #ededed;
  border: #ededed;
  margin-right: 10px;
  transition: 0.2s;
}

.resource-box:hover .resource-tag, .resource-box:focus .resource-tag {
  background: #d3d3d3;
  border: #d3d3d3;
}

.rebus-icon {
  transition: 0.1s;
  width: 64px;
  height: 64px;
  margin: 0 10px 10px;
  padding: 12px;
}

.rebus-icon:hover {
  cursor: pointer;
  background: #ededed;
}

.rebus-input-box {
  max-width: 600px;
  height: 128px;
  margin: 0 auto;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  /* Have to turn off fixed backgrounds because iOS doesn't support them */
  .hero-bg {
    background-attachment: unset;
  }

  .image-credit {
    font-size: 0.5em !important;
  }

  .rebus-icon {
    width: 64px;
    height: 64px;
  }
}